* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/*general styling*/
body{
    background: conic-gradient(from 180deg at 50% 50%,
     #4986E0 -62.09deg,
      #FCF6F5 107.34deg,
       #4986E0 297.91deg,
        #FCF6F5 467.34deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.container {
    position: relative;
    margin: 6% 10%;
    border-radius:25px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    overflow: hidden;
    background:linear-gradient(140deg, rgba(137, 171, 227, 1), blue);
    max-width: 1200px;
}

.left {
    position: relative;
    grid-column: 1 / 2;
    background-color: transparent;
    color: #FCF6F5;
    padding:25px;
}

.right {
    position: relative;
    grid-column: 3 /4;
    background-color: #fff;
    color: #4986E0;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
}

header>p {
    font-size: 20px;
    border-bottom: 3px solid #fff;
    padding: 2px 10px;
    padding-left: 0;
}

.pay-pal {
    border-bottom: 1px solid #fff;
    padding-left: 10px;
}

.card>p {
    font-size: 20px;
}

.card>img {
    margin: 22px 0;
}

label {
    display: flex;
    align-items: center;
    color: rgba(252, 246, 245, 0.7);
    font-size: 12px;
    padding-top:20px;
}

.input{
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(252, 246, 245, 0.7) ;
    width: 100%;
    background:none;
    color:rgba(252, 246, 245, 0.7) ;
}

.last-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 40%;
}

.right-section{
    width:30%;
}

.card>button {
    position: relative;
    top: 30px;
    left: 10%;
    text-align: center;
    background-color: #FCF6F5;
    border-radius: 12px;
    color: #4986E0;
    padding: 8px 45px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    width: 220px;
    letter-spacing: 6px;
    transition: .8s;
    cursor: pointer;
}

.card>button:hover {
    background-color: #4986E0;
    color: #FCF6F5;
}

.right {
    justify-content: center;
    align-content: flex-start;
    padding: 10px 40px;
}

#arrow {
    position: relative;
    left: 80%;
    width: 40px;
    cursor: pointer;
}

.brand-logo {
    margin: 30px 0;
    width: 150px;
    position: relative;
    left: 50%;transform: translateX(-50%);
}

.card-right-content {
    position: relative;
    bottom: 30px; ;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.benefits {
    margin-top: 10px;
}

.benefits>p {
    padding: 10px 0;
    font-size: 13px;
}

.benefits p span {
    padding-left: 10px;
}

@media (max-width:375px), (max-width:768px) {
    .container{
        position: relative;
        display: grid;
        margin: 0;
        padding: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        max-width: 500px;
    }
    .left {
        grid-column: 1 /2;
        grid-row: 1 / 2;
        border-radius: 25px;
        width: 100%;
    }

    .right {
        grid-column: 1 / 2;
        grid-row:  2/ 3;
        border-radius: 25px;
        width: 100%;
    }
}

@media (max-width:768px){
    .container {
        margin: 50px 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width:375px) {
    .container{
        margin: 10px 0;
    }
}